.grid-container {
    display: grid;

    /* For 2 columns */
    grid-template-columns: repeat(2, 1fr);
}

.container {
    margin: 40px;
}

.heading {
    color: white;
    padding-top: 20px;
}

.card {
    margin: 20px;
    width: 400px;
}

.bg-primary {
    background-color: (#D2ABA2)!important;
}

.rounded {
    border-radius:.95rem;
    background-color: #D2ABA2;
}
.bg-image {
    padding: 40px;
    background: url(https://mars.nasa.gov/assets/mars_landscape.jpg) no-repeat center center fixed;
    background-size: contain;
}

h3 {
    text-decoration: underline;
}
